{% extends 'pastoring/index.html' %}
{% load static %}
{% load extra_tags %}

{% block blue_background_heading %}
{% endblock %}

{% block extra_css %}
    <script src="{% static 'assets/js/tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
      <script>
          tinymce.init({
              selector:'#prophetic_word_message',
              plugins: 'table wordcount list emoticons fullscreen preview',

          });
      </script>
{% endblock extra_css %}

{% block content %}

    <div class="modal fade" id="DisplayUniqueSpeakersModalScrollable" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="DisplayUniqueSpeakersModalScrollableTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DisplayUniqueSpeakersModalScrollableTitle">Speakers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for speaker in unique_speakers %}
                                <tr>
                                    <td>{{ speaker }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
            </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="EditPropheticWordModalScrollable" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="EditPropheticWordModalScrollableTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EditPropheticWordModalScrollableTitle">Edit Prophetic Word</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div hidden>
                                <input type="text" name="pk" id="pk">
                            </div>

                            <div class="form-floating custom-form-floating custom-form-floating-lg form-group mb-3">
                                <input type="text" class="form-control" name="prophetic_word_title" id="prophetic_word_title">
                                <label for="prophetic_word_title">Title</label>
                            </div>

                            <div class="form-group">
                                <label class="form-label h5" for="prophetic_word_speaker">Speaker</label>
                                <input type="text" class="form-control" name="prophetic_word_speaker" id="prophetic_word_speaker">
                            </div>

                            <div class="form-group">
                                <label class="form-label h5" for="prophetic_word_date">Date</label>
                                <input type="date" class="form-control" id="prophetic_word_date" name="prophetic_word_date">
                            </div>

                            <div class="form-group">
                                <label class="form-label h5">Category</label>
                                <select name="prophetic_word_category" id="prophetic_word_category" class="form-select mb-3 shadow-none">
                                    <option value="church">Words for the Church</option>
                                    <option value="nigeria">Words for Nigeria</option>
                                    <option value="season">Words for the Season</option>
                                    <option value="general">General Words</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label h5" for="prophetic_word_message">Message</label>
                                <textarea class="form-control" name="prophetic_word_message" id="prophetic_word_message" rows="10"></textarea>
                            </div>

                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <label for="prophetic_ai_generated_keywords" class="form-label h5">Generated Summary</label>
                                    <a href="#">
                                        <span class="ri ri-restart-line text-danger" title="Regenerate" style="font-size: 30px;"></span>
                                    </a>
                                </div>
                                <textarea class="form-control" name="prophetic_ai_generated_keywords" id="prophetic_ai_generated_keywords" readonly rows="5">Love God</textarea>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div class="row mt-5 pt-3">
            <div class="col-lg-6 col-md-6">
                 <div class="card border-bottom border-4 border-0 border-success">
                    <div class="card-body">
                       <div class="d-flex justify-content-between align-items-center">
                          <div>
                             <span>Total Number of Prophetic Words</span>
                          </div>
                          <div>
                             <span class="counter" style="visibility: visible;">{{ total_prophetic_words }}</span>
                          </div>
                       </div>
                    </div>
                 </div>
            </div>

            <div class="col-lg-6 col-md-6">
                 <div class="card border-bottom border-4 border-0 border-success">
                    <div class="card-body">
                       <div class="d-flex justify-content-between align-items-center">
                          <div>
                              <span>No of Speakers</span>

                              {% if no_of_speakers > 0 %}
                                  <span><a href="#" data-bs-toggle="modal" data-bs-target="#DisplayUniqueSpeakersModalScrollable">...See all</a></span>
                              {% endif %}
                          </div>
                          <div>
                              <span class="counter" style="visibility: visible;">{{ no_of_speakers }}</span>
                          </div>
                       </div>
                    </div>
                 </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">PROPHETIC WORDS </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatable" class="table table-hover" data-toggle="data-table">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Speakers</th>
                                    <th>Date</th>
                                    <th>Category</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for word in prophetic_words %}
                                        <tr>
                                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#EditPropheticWordModalScrollable" onclick="populate_prophetic_word_modal('{{ word.pk }}', `{{ word.title }}`, `{{ word.speaker }}`, '{{word.formatted_date}}', '{{ word.category }}', `{{ word.message }}`)">{{ word.title|truncatewords:"7"}}</a></td>
                                            <td>{{ word.speaker }}</td>
                                            <td>{{ word.date|date:"jS E, Y" }}</td>
                                            <td>{{ word.category }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <th colspan="4"><b>No Prophetic Words</b></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Speakers</th>
                                    <th>Date</th>
                                    <th>Category</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6"><a href="{% url 'pastoring:add-prophetic_words' %}">
                 <div class="card bg-success">
                    <div class="card-body">
                       <div>
                          <div class="text-white">
                                <h2 class="counter text-white" style="visibility: visible; color: white; text-align: center">Add</h2>
                          </div>
                       </div>
                    </div>
                 </div>
            </a></div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    <script>
        const populate_prophetic_word_modal = (pk, title, speaker, date, category, message) => {
            const pk_input = document.getElementById('pk');
            const title_input = document.getElementById('prophetic_word_title');
            const speaker_input = document.getElementById('prophetic_word_speaker');
            const date_input = document.getElementById('prophetic_word_date');
            const category_input = document.getElementById('prophetic_word_category');
            {#const message_input = document.getElementById('prophetic_word_message');#}

            pk_input.value = pk;
            title_input.value = title;
            speaker_input.value = speaker;
            date_input.value = date;
            category_input.value = category;

            tinymce.get('prophetic_word_message').setContent(message)
        }
    </script>
{% endblock javascript %}