
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

header {
    margin-bottom: 20px;
}
 
header h1 {
    font-size: 24px;
    color: #333;
}

.search-sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-sort input, .search-sort select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30%;
}

#addUrlBtn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addUrlBtn:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: auto;
}

thead {
    background-color: #007BFF;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e6f7ff;
}

.actions button {
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.actions button:hover {
    background-color: #0056b3;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
} 

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-size: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 5px;
    font-weight: 500;
}

.modal-content input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    outline: none;
    transition: border 0.3s;
}

.modal-content input:focus {
    border: 1px solid #007BFF;
}

.modal-content button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
    .search-sort {
        flex-direction: column;
        align-items: stretch;
    }

    .search-sort input, .search-sort select {
        width: 100%;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(even) {
        background: none;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td:before {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 45%;
        white-space: nowrap;
        text-align: left;
        font-weight: 500;
        color: #333;
    }

    td:nth-of-type(1):before { content: "Original URL"; }
    td:nth-of-type(2):before { content: "Shortened URL"; }
    td:nth-of-type(3):before { content: "Date Shortened"; }
    td:nth-of-type(4):before { content: "Actions"; }
}


/* TOAST NOTIFICATION CSS */

#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 100%;
}

.toast {
    background-color: #f44336; /* Red for error */
    color: white;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px);
    width: 100%;
    transition: opacity 0.5s, transform 0.5s;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}


/* END TOAST NOTIFICATION CSS */


.short-url-input {
    padding: 8px;
    width: 100%;
}

.short-url-input .domain {
    color: #6b7280; /* Cool gray */
    padding-right: 4px;
    font-weight: 500;
}

.short-url-input input {
    display: inline-block;
    width: 70%;
}


