{% if all_department_option %}
    <option value="all" selected>All Departments</option>
{% else %}
    <option value="" disabled selected>Choose Department</option>
{% endif %}
{% for department in departments %}
    {% if user_leader_in_dept %}
        {% if department in user_leader_in_dept %}
            <option value="{{ department.department_name }}">{{ department.department_name }}</option>
        {% endif %}
    {% else %}
        <option value="{{ department.department_name }}">{{ department.department_name }}</option>
    {% endif %}
{% endfor %}


