
{% extends 'project_management/index.html' %}
{% load static %}
{% load extra_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'custom/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom/autocomplete/autocomplete.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <button class="btn btn-primary p-3" data-target="#add_diaconate" data-toggle="modal">Add Diaconate</button>
            </div>

            <div id="diaconate_list">
                {% for office in Diaconate %}

                    <div class="accordion col-lg-8" id="Users">
                      <div class="accordion-item card">
                        <h4 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="Collapse{{ forloop.counter }}">
                            <h5 class="card-title"> {{ office.name }}</h5>
                          </button>
                        </h4>
                        <div id="Collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#Users{{ forloop.counter }}">
                          <div class="accordion-body">
                              <p class="card-text mb-2">{{ office.info }}</p>
                              <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-primary p-2 mb-4" data-target="#add_department" data-toggle="modal" onclick="document.getElementById('department_diaconate_name').value = '{{ office.name }}'; document.getElementById('department_form').setAttribute('hx-target', '#diaconate_{{ office.pk }}');">Add Department</button>
                                <button type="button" class="btn btn-outline-danger p-2 mb-4" data-target="#delete_diaconate" data-toggle="modal" onclick="document.getElementById('diaconate_id').value = '{{ office.pk }}'; document.getElementById('delete_diaconate_name').textContent = '{{ office.name }}';">Delete Diaconate</button>
                              </div>
                              
                              <ul class="list-group list-group-flush m-0" id="diaconate_{{ office.pk }}">
                                  {% for department in office.departments.all %}
                                      <li class="list-group-item">
                                          <div class="d-flex justify-content-between">
                                              <a href="{% url 'project_management:project-admin-setting-department-detail' department.department_name department.pk %}">{{ department.department_name }}</a>
                                          </div>
                                      </li>
                                  {% endfor %}
                              </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                {% endfor %}
            </div>

        </div>
    </div>
{% endblock content %}

{% block modal %}
    <div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="add_diaconate">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-block text-center pb-3 border-bottom">
                    <h3 class="modal-title">Add Diaconate</h3>
                </div>
                <div class="modal-body">
                    <form
                        hx-post="{% url 'project_management:project-admin-settings' %}?settings=add_diaconate"
                        hx-trigger="submit"
                        hx-target="#diaconate_list"
                        hx-swap="beforeend"
                        hx-indicator="#springBouceLoader"
                    >
                        {% csrf_token %}

                        <div class="row" id="alert_parent_add_diaconate">
                            
                            <div class="form-group col-12 mb-3">
                                <label for="diaconate_name">Name</label>
                                <input type="text" id="diaconate_name" name="diaconate_name" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="diaconate_info">Diaconate Info</label>
                                <textarea class="form-control" name="diaconate_info" id="diaconate_info" rows="4"></textarea>
                            </div>

                            <div class="form-group col-12">
                                 <label for="diaconate_head">Head:</label><br>
                                 <select id="diaconate_head" class="col-12 form-control-lg mb-3" name="diaconate_head">
                                     {% for member in potential_leaders %}
                                         <option value="{{ member.pk }}">{{ member.get_full_name }} @{{ member.username }}</option>
                                     {% endfor %}
                                 </select>
                            </div>

                            <div class="form-group">
                                <label for="diaconate_assistant">Assistant:</label><br>
                                <select id="diaconate_assistant" class="form-control-lg mb-3 col-12" name="diaconate_assistant">
                                    {% for member in potential_leaders %}

                                        <option value="{{ member.pk }}" {% if forloop.counter == 2 %}selected{% endif %}>{{ member.get_full_name }} @{{ member.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-lg-12">
                                <div class="d-flex flex-wrap align-items-center justify-content-center mt-2">
                                    <button type=submit class="btn btn-outline-danger mr-3">Continue</button>
                                    <div class="btn btn-success" data-dismiss="modal">Cancel</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="add_department">
        <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header d-block text-center pb-3 border-bottom">
                    <h3 class="modal-title">Add Department</h3>
                </div>
                <div class="modal-body">
                    <form hx-post="{% url 'project_management:project-admin-settings'  %}?settings=add_department"
                        hx-trigger="submit"
                        hx-swap="beforeend"
                        id="department_form"
                        hx-indicator="#springBouceLoader"
                    >
                        {% csrf_token %}

                        <div class="row" id="alert_parent_add_department">
                            <div style="display:none;">
                                <input type="text" name="department_diaconate_name" id="department_diaconate_name">
                            </div>

                            <div class="form-group col-12 mb-3">
                                <label for="department_name">Name</label>
                                <input type="text" id="department_name" name="department_name" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="department_short_name">Department Abbrev. Name</label>
                                <input type="text" id="department_short_name" name="department_short_name" class="form-control" required>
                            </div>

                            <div class="form-group">
                                 <label for="department_leader">Leader:</label>
                                 <select class="form-control" name="department_leader" id="department_leader" required>
                                     {% for member in potential_leaders %}
                                         <option value="{{ member.pk }}">{{ member.get_full_name }} @{{ member.username }}</option>
                                     {% endfor %}
                                 </select>
                            </div>

                            <div class="form-group">
                                <label for="department_sub_leader">Sub Leader:</label>
                                <select class="form-control" id="department_sub_leader" name="department_sub_leader" required>
                                    {% for member in potential_leaders %}
                                        <option value="{{ member.pk }}" {% if forloop.counter == 2 %}selected{% endif %}>{{ member.get_full_name }} @{{ member.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="department_objective">Department Objective</label>
                                <textarea class="form-control" name="department_objective" id="department_objective" rows="4"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="department_category">Department Category:</label>
                                <input type="text" class="form-control" name="department_category" placeholder="Must be a comma separated list of values">
                            </div>

                            {% include 'custom_html/autocomplete.html' with variable='Add Member' %}

                            <div class="col-lg-12">
                                <div class="d-flex flex-wrap align-items-center justify-content-center mt-2">
                                    <button type=submit class="btn btn-outline-danger mr-3">Continue</button>
                                    <div class="btn btn-success" data-dismiss="modal">Cancel</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="delete_diaconate">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-block text-center pb-3 border-bottom">
                    <h3 class="modal-title">Confirm Delete</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 mb-3">
                            <p><i>
                                Are you sure you want to delete <span id="delete_diaconate_name" class="text-danger"></span> Diaconate?
                            </i></p>
                        </div>
                        
                        <div class="col-lg-12">
                            <form action="{% url 'project_management:project-admin-settings' %}?settings=delete_diaconate" method="post">
                                {% csrf_token %}
                                
                                <div class="form-group col-12 mb-3" style="display: none;">
                                    <input type="text" id="diaconate_id" name="diaconate_id" class="form-control">
                                </div>
                                <div class="col-lg-12">
                                    <div class="d-flex flex-wrap align-items-center justify-content-center mt-2">
                                        <button type="submit" class="btn btn-outline-danger mr-3">Continue</button>
                                        <div class="btn btn-success" data-dismiss="modal">Cancel</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block extra_js %}
    <script src="{% static 'custom/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'custom/jquery-3.7.1.min.js' %}"></script>
    <script>
        let searchIndex = {{ family_members|jsonify }}

    </script>
    <script src="{% static 'custom/autocomplete/auto_complete.js' %}"></script>
{% endblock extra_js %}