
{% extends 'pastoring/index.html' %}
{% load static %}
{% load extra_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'custom/notification/notification.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div>
            <div class="row">
                <div class="col-12">
                    {% include 'custom_html/notification.html'  with message='Setting saved successfully' position='top-right' %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                {% if user.level == 'chief_shep' %}
                                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                                        aria-label="breadcrumb">
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item"><a href="{% url 'pastoring:dashboard' %}">Dashboard</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'pastoring:shepherd-list' shepherd.id %}">Sheep</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Detail</li>
                                        </ol>
                                    </nav>
                                {% else  %}
                                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                                        aria-label="breadcrumb">
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item"><a href="{% url 'pastoring:dashboard' %}">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Detail</li>
                                        </ol>
                                    </nav>
                                {% endif %}
                                <h4 class="card-title">
                                    {% if sheep.level == 'core_shep' %}
                                        Is your Captains slack in doing the Lord's Work?
                                    {% elif sheep.level == 'sub_shep' %}
                                        How well is our young officer learning to Wrestle?
                                    {% elif sheep.level == 'worker' %}
                                        Are they putting their hands to the plow?
                                    {% elif sheep.level == 'new_mem' or sheep.level == 'mem' %}
                                        Hmm is our young sheep feeding properly on the milk of the word
                                    {% else %}
                                        Hello Fellow General
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                        <div class="card-body">
                           <div class="border-bottom text-center pb-3">
                               {% if sheep.get_image_url %}
                                   <a href="{{ sheep.get_image_url }}" alt="sheep profile image">
                                       <img src="{{ sheep.get_image_url }}" alt="" class="theme-color-default-img img-fluid rounded-pill avatar-120">
                                   </a>
                               {% else %}
                                     <img src="{% static 'assets/images/avatars/01.png' %}" alt="User-Profile" id="preview" class="theme-color-default-img img-fluid rounded-pill avatar-100">
                               {% endif %}


                              <div>
                                 <h5 class="mb-3">{{ sheep.get_full_name }}</h5>
                              </div>
                              <p>{{ sheep.about }}</p>

                              <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdropLive">Change Settings</button>

                           </div>
                           <div class="d-flex justify-content-between mt-3">
                              <div>
                                  <h2 class="mb-0" style="visibility: visible;">8/10</h2>
                                  <div>Shepherd Rating</div>
                              </div>
                              <div>
                                  <h6>
                                      <a href="{% url 'pastoring:sheep-profile' user.username sheep.username %}">
                                          Check Profile Details
                                      </a>
                                  </h6>
                              </div>
                              <div>
                                    <h2 class="mb-0">5/10</h2>
                                 <div>Sub Shepherd Rating</div>
                              </div>
                           </div>

                            <div class="modal fade" id="staticBackdropLive" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLiveLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLiveLabel">Setting</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label class="form-label" for="blood_group">Level:</label>
                                                    <select name="level" id="settings_level" class="form-select mb-3">
                                                        {% for option in level %}
                                                            {% if option.0 != 'chief_shep' %}
                                                                <option value="{{ option.0 }}" {% if option.0 == sheep.level %}selected{% endif %}>{{ option.1 }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="form-label" style="padding: 15px 0 10px 0">Additional Settings</label>

                                                    <div class="mb-3 form-check">
                                                        <input type="checkbox" class="form-check-input" id="settings_catalog">
                                                        <label class="form-check-label" for="settings_catalog">Can Edit Catalog</label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" id="dismiss_modal_button" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" onclick="change_user_details('{{ sheep.username }}')">Understood</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Church Work</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-hover" data-toggle="data-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Detail</th>
                                            <th scope="col">Work Category</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for work in church_work %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'pastoring:sheep-detail' user.username sheep.username 'Church Work' work.id %}">{{ work.details|truncatewords:'7' }}</a>
                                                </td>
                                                <td>{{ work.work_category|format_text }}</td>
                                                <td>{{ work.date }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="3"><h4>No Work Done</h4></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th scope="col">Detail</th>
                                            <th scope="col">Work Category</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Field Mission</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-hover" data-toggle="data-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Field of Visit</th>
                                            <th scope="col">No of Follow up</th>
                                            <th scope="col">No Led to Christ</th>
                                            <th scope="col">No of Holy Spirit Baptism</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for mission in field_mission %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'pastoring:sheep-detail' user.username sheep.username 'Evangelism' mission.id %}">{{ mission.field_of_visit }}</a>
                                                </td>
                                                <td>{{ mission.follow_up }}</td>
                                                <td>{{ mission.no_led_to_christ }}</td>
                                                <td>{{ mission.holy_spirit_baptism }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="3"><h4>No Field Mission</h4></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th scope="col">Field of Visit</th>
                                            <th scope="col">No of Follow up</th>
                                            <th scope="col">No Led to Christ</th>
                                            <th scope="col">No of Holy Spirit Baptism</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Bible Reading</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-hover" data-toggle="data-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Bible Passage</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for reading in bible_reading %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'pastoring:sheep-detail' user.username sheep.username 'Bible Reading' reading.id %}">{{ reading.bible_passage }}</a>
                                                </td>
                                                <td>{{ reading.status }}</td>
                                                <td>{{ reading.date }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="3"><h4>No Milk Sucked Yet</h4></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th scope="col">Bible Passage</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Prayer Marathon</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-hover" data-toggle="data-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for prayer in prayer_marathon %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'pastoring:sheep-detail' user.username sheep.username 'Prayer Marathon' prayer.id %}">{{ prayer.date }}</a>
                                                </td>
                                                <td>{{ prayer.comment|truncatewords:"5" }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="3"><h4>No Prayer Walk</h4></td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Comment</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Prophetic Vision</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-hover" data-toggle="data-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for vision in prophetic_vision %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'pastoring:sheep-detail' user.username sheep.username 'Prophetic Vision' vision.id %}">{{ vision.date }}</a>
                                                </td>
                                                <td>{{ vision.title }}</td>
                                                <td>{{ vision.description|truncatewords:"6" }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="3"><h4>Hab 2:2</h4></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Description</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{##}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <div class="card">#}
{#                        <div class="card-header d-flex justify-content-between">#}
{#                            <div class="header-title">#}
{#                                <h4 class="card-title">Satellite</h4>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <p></p>#}
{#                            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d552.6523460203307!2d-121.8326811833386!3d38.44960145310393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085259f4fcf781d%3A0x80a4c8c2bb5a0123!2s835%20Woodvale%20Dr%2C%20Dixon%2C%20CA%2095620%2C%20USA!5e1!3m2!1sen!2sin!4v1576670825530!5m2!1sen!2sin" height="500" allowfullscreen=""></iframe>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
{% endblock content %}

{% block javascript %}

    <script src="{% static 'custom/jquery-3.7.1.min.js' %}"></script>
    <script>
        const change_user_details = (username) => {
            let url = window.location.pathname;

            const level = document.getElementById('settings_level').value;
            const catalog = document.getElementById('settings_catalog').value;
            const shepherd_rating = document.getElementById('settings_shepherd_rating');

            url = `${url}?settings&username=${username}&level=${level}&catalog=${catalog}&shepherd_rating=${shepherd_rating}`;

            fetch(url, {
                method: 'GET',
                credentials: 'same-origin'
            })
                .then(response => response.json())
                .then(data => {

                    document.getElementById('dismiss_modal_button').click();

                    let status, type;

                    if (data['confirm']) {
                        type = 'top-right';
                        status = 'success';
                    }
                    else {
                        type = 'top-left';
                        status = 'warning';
                    }

                    $('.notification_notify')
                            .removeClass()
                            .attr('data-notification-status', status)
                            .addClass(type + ' notification_notify')
                            .addClass('do-show');

                    const reset_notification = () => {
                        $('.notification_notify')
                            .removeClass('do-show');
                    }

                    setTimeout(reset_notification, 3000)
                })

            const type = 'top-right';
            const status = 'warning';
        }   
    </script>
    
{% endblock javascript %}