<div class="alert text-white bg-success" role="alert" id="{{ category }}_success_status" style="display: none">
    <div class="iq-alert-text"><span id="{{ category }}_settings_mode"></span> added successfully</div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="ri-close-line"></i>
    </button>
 </div>

<div class="alert text-white bg-danger" role="alert" id="{{ category }}_failure_status" style="display: none">
    <div class="iq-alert-text" id="message_board"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="ri-close-line"></i>
    </button>
</div>
