
{% if status %}
    <div class="list-group">
        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ department_category.category_name }}</h5>

                <form
                    hx-post="{% url 'project_management:project-admin-setting-department-detail' department.department_name department.pk %}?settings=delete_category"
                    hx-trigger="submit"
                    hx-target="#category_space_{{category.pk}}"
                    hx-swap="delete"
                    hx-confirm="Are you sure you want to delete {{ category.category_name }}"
                    hx-indicator="#springBouceLoader"
                >
                    {% csrf_token %}
                    <div style="display: none;">
                        <input type="text" name="category_pk" value="{{ category.pk }}">
                    </div>
                    
                    <button type="submit" class="btn btn-outline-danger mt-2 p-2">
                        <i class="ri-alert-line"></i>Delete
                    </button>
                </form>
            </div>
            <p class="mb-1">{{ department_category.category_objective }}</p>
        </a>
    </div>
{% endif %}

<script>
    (function () {
        const success_element = document.getElementById('{{ category }}_success_status');
        const failure_element = document.getElementById('{{ category }}_failure_status');
        const failure_message = document.querySelector('#{{ category }}_failure_status #message_board');
        const settings_mode = document.getElementById('{{ category }}_settings_mode');

        {% if status %}
            success_element.style.display = 'block';
            failure_element.style.display = 'none';
            settings_mode.textContent = 'Category';
        {% else %}
            failure_element.style.display = 'block';
            failure_message.textContent = '{{ error_message }}';
            success_element.style.display = 'none';
        {% endif %}
    })()
</script>