
{% if status %}
    <div class="list-group">
        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ department_category.category_name }}</h5>

                <form
                    hx-post="{% url 'project_management:project-admin-setting-department-detail' department.department_name department.pk %}?settings=delete_category"
                    hx-trigger="submit"
                    hx-target="#category_space_{{category.pk}}"
                    hx-swap="delete"
                    hx-confirm="Are you sure you want to delete {{ category.category_name }}"
                    hx-indicator="#springBouceLoader"
                >
                    {% csrf_token %}
                    <div style="display: none;">
                        <input type="text" name="category_pk" value="{{ category.pk }}">
                    </div>
                    
                    <button type="submit" class="btn btn-outline-danger mt-2 p-2">
                        <i class="ri-alert-line"></i>Delete
                    </button>
                </form>
            </div>
            <p class="mb-1">{{ department_category.category_objective }}</p>
        </a>
    </div>
{% endif %}

<script>
    document.getElementById('alert_parent_add_department_category').insertAdjacentHTML(
        'afterbegin',

        `
        {% if status %}
            <div class="alert text-white bg-success col-lg-12" style="display: flex;" role="alert">
                <div class="iq-alert-text">{{ department.department_name }} <b>successfully</b> updated!</div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="ri-close-line"></i>
                </button>
            </div>
        {% else %}
            <div class="alert text-white bg-danger col-lg-12" style="display: flex;" role="alert">
                <div class="iq-alert-text">{{ error_message }}</div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="ri-close-line"></i>
                </button>
            </div>
        {% endif %}
        `
    )
</script>