
{% if status %}
    <li class="list-group-item d-flex justify-content-between" id="department_member_space_{{ member.pk }}">
        <span>
            <span class="iq-avatar mr-2">
                <img class="avatar-80 rounded" src="{{ member.get_member_image_url }}" alt="#" data-original-title="" title="">
            </span>
            {{ member.member_name.get_full_name }}
        </span>

        <form
            hx-post="{% url 'project_management:project-admin-setting-department-detail' department.department_name department.pk %}?settings=delete_member"
            hx-trigger="submit"
            hx-target="#department_member_space_{{ member.pk }}"
            hx-swap="delete"
            hx-confirm="Are you sure you want to remove {{ member.member_name.get_full_name }} from {{ department.department_name }}"
            hx-indicator="#springBouceLoader"
        >
            {% csrf_token %}
            <div style="display: none;">
                <input type="text" name="department_member_pk" value="{{ member.pk }}">
            </div>

            <button type="submit" class="btn btn-outline-danger">Remove</button>
        </form>
    </li>
{% endif %}

<script>
    (function () {
        const success_element = document.getElementById('{{ category }}_success_status');
        const failure_element = document.getElementById('{{ category }}_failure_status');
        const failure_message = document.querySelector('#{{ category }}_failure_status #message_board');
        const settings_mode = document.getElementById('{{ category }}_settings_mode');

        {% if status %}
            success_element.style.display = 'block';
            failure_element.style.display = 'none';
            settings_mode.textContent = 'New Member'
        {% else %}
            failure_element.style.display = 'block';
            failure_message.textContent = '{{ error_message }}';
            success_element.style.display = 'none';
        {% endif %}
    })()
</script>