{% if status %}
    <div class="col-lg-6 col-md-6">
        <div>
            <div class="card-body">
                <h4 class="card-title mb-3">Department Name
                    <button style="background: none; border: none" class="las la-pen upload-button text-primary" data-target="#update_department_details" data-toggle="modal" onclick="configure_modal_according_to_mode('{{ department.department_name }}', 'update_department_long_name', `{{ department.department_long_name }}`);"></button>
                </h4>
                <p class="card-text h5" id="db_department_long_name">
                    {{ department.department_long_name }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div>
        <div class="card-body">
            <h4 class="card-title mb-3">Department Name (Abridged)
                <button style="background: none; border: none" class="las la-pen upload-button text-primary" data-target="#update_department_details" data-toggle="modal" onclick="configure_modal_according_to_mode('{{ department.department_name }}', 'update_department_name', '{{ department.department_name }}');"></button>
            </h4>
            <p class="card-text h5" id="db_department_name">{{ department.department_name }}</p>
        </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div>
        <div class="card-body">
            <h4 class="card-title mb-3">Leader
                <button style="background: none; border: none" class="las la-pen upload-button text-primary" data-target="#update_department_details" data-toggle="modal" onclick="configure_modal_according_to_mode('{{ department.department_name }}', 'update_department_leader', '{{ department.leader.member_name.pk }}');"></button>
            </h4>
            <p class="card-text h5" id="db_department_leader">{{ department.leader.member_name.get_full_name }}</p>
        </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div>
        <div class="card-body">
            <h4 class="card-title mb-3">Sub Leader
                <button style="background: none; border: none" class="las la-pen upload-button text-primary" data-target="#update_department_details" data-toggle="modal" onclick="configure_modal_according_to_mode('{{ department.department_name }}', 'update_department_sub_leader', '{{ department.sub_leader.member_name.pk }}');"></button>
            </h4>
            <p class="card-text h5" id="db_department_sub_leader">{{ department.sub_leader.member_name.get_full_name }}</p>
        </div>
        </div>
    </div>
    <div class="col-12 border-top mt-3">
        <div>
        <div class="card-body">
            <h4 class="card-title mb-3">Department Objectives
                <button style="background: none; border: none" class="las la-pen upload-button text-primary" data-target="#update_department_details" data-toggle="modal" onclick="configure_modal_according_to_mode('{{ department.department_name }}', 'update_department_objective', `{{ department.department_objectives }}`);"></button>
            </h4>
            <p class="card-text h5" id="db_department_objective">{{ department.department_objectives }}</p>
        </div>
        </div>
    </div>
{% endif %}

<script>
    document.getElementById('alert_parent_update_department_details').insertAdjacentHTML(
        'afterbegin',

        `
        {% if status %}
            <div class="alert text-white bg-success col-lg-12" style="display: flex;" role="alert">
                <div class="iq-alert-text">{{ department.department_name }} <b>successfully</b> updated!</div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="ri-close-line"></i>
                </button>
            </div>
        {% else %}
            <div class="alert text-white bg-danger col-lg-12" style="display: flex;" role="alert">
                <div class="iq-alert-text">{{ error_message }}</div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="ri-close-line"></i>
                </button>
            </div>
        {% endif %}
        `
    )
</script>