{% extends 'project_management/index.html' %}
{% load static %}
{% load extra_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'custom/to_do/to_do.css' %}">
{% endblock extra_css %}

{% block content %}
      <div class="container-fluid">
         <div class="row">

            {% if is_department_leader %}
                <div class="col-sm-12 col-lg-6 col-md-6">
            {% else %}
                <div class="col-sm-12 col-lg-10 col-md-10">
            {% endif %}
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Project Preview</h4>
                     </div>
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-12">
                              <p style="margin-bottom:0;">Title:</p>
                              <h5>{{ object.project_name.upper }}</h5>
                          </div>
                          <div class="mt-5 col-12">
                              <p style="margin-bottom:0px;">Project Description:</p>
                              <p class="text-justify">{{ object.project_description }}</p>
                          </div>
                          <div class="mt-3 col-6">
                              <p style="margin-bottom:0px;">Project Category:</p>
                              <p>{{ object.department_category }}</p>
                          </div>
                          <div class="mt-3 col-6 text-secondary">
                              <p style="margin-bottom:0px;">Project Leader:</p>
                              <p>{{ object.project_leader.member_name.get_full_name }}</p>
                          </div>
                          <div class="mt-3 col-4">
                              <p style="margin-bottom:0px;">Start Date:</p>
                              <p>{{ object.start_date }}</p>
                          </div>
                          <div class="mt-3 col-4">
                              <p style="margin-bottom:0px;">Due Date:</p>
                              <p>{{ object.due_date }}</p>
                          </div>
                          <div class="mt-3 col-4">
                              <p style="margin-bottom:0px;">Priority:</p>
                              <p>{{ object.project_priority }}</p>
                          </div>

                          <div class="mt-3 col-6">
                              <p style="margin-bottom: 0;">Project Background Color:</p>
                              <p class="p-4" style="background-color: {{ object.project_background_color }}; color: white">Project Background Color</p>
                          </div>

                          <div class="mt-3 col-6">
                              <p style="margin-bottom: 0;">Project Text Color:</p>
                              <p class="p-4" style="background-color: {{ object.project_text_color }}; color: white">Project Text Color</p>
                          </div>
                      </div>
                  </div>
               </div>
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Targets</h4>
                     </div>
                  </div>
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          {% for target in object.target.all %}
                              <li id="pk{{ target.pk }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                  <span class="d-flex justify-content-between">
                                      <div class="mr-2" style="margin-left: -10px">
                                          <select id="target_status_select_box{{ target.pk }}" {% if target.state == 'Completed' or target.state == 'Pending Approval' %}disabled{% endif %} class="form-control form-control-sm triStateSelectBox" onchange="toggle_target(this, '{{ target.pk }}')">
                                              <option value="Not Started" {% if target.state == 'Not Started' %}selected{% endif %}><small>Not Started</small></option>
                                              <option value="In Progress" {% if target.state == 'In Progress' %}selected{% endif %}><small>In Progress</small></option>
                                              <option value="Completed" {% if target.state == 'Completed' or target.state == 'Pending Approval' %}selected{% endif %}><small>Completed</small></option>
                                          </select>
                                      </div>
                                      {{ target.target_name }}

{#                                      Hidden Button to click it through Javascript #}
                                      <button type="button" id="show_modal{{ target.pk }}" style="display: none" class="btn btn-primary p-2" data-target="#confirm_completion" data-toggle="modal"><small>Add Member</small></button>

                                      {% if target.state == 'Completed' %}
                                          <h6> - <small>on {{ target.date|date:"jS E, Y" }}</small> </h6>
                                      {% endif %}
                                  </span>

                                  {% if target.state == 'Completed' %}
                                      <span id="completed_status_button{{ target.pk }}" class="badge badge-success badge-pill status">Completed</span>
                                  {% elif target.state == 'Pending Approval' %}

                                      <div>
                                          <span id="completed_status_button{{ target.pk }}" style="display: none" class="badge badge-success badge-pill status">Completed</span>

                                          {% if is_department_leader %}
                                              <button type="button" id="leader_approval_button{{ target.pk }}" class="badge btn-primary badge-pill" onclick="target_approved_by_leader(this, '{{ target.pk }}')">
                                                  <small>Approve</small>
                                              </button>

                                              <button type="button" id="leader_rejection_button{{ target.pk }}" class="badge btn-danger badge-pill" onclick="target_rejected_by_leader(this, '{{ target.pk }}')">
                                                  <small>Reject</small>
                                              </button>

                                          {% endif %}

                                          <button type="button" id="pending_status_button{{ target.pk }}" class="badge btn-outline-danger badge-pill">
                                              <small>...pending</small>
                                          </button>
                                      </div>

                                  {% elif target.state == 'In Progress' %}
                                      <span class="badge badge-warning badge-pill status">In Progress</span>
                                  {% else %}
                                      <span class="badge badge-danger badge-pill status">Not Started</span>
                                  {% endif %}

                                  <button style="display:none" id="outlier_pending_status_button{{ target.pk }}" class="badge btn-outline-danger badge-pill">
                                      <small>...pending</small>
                                  </button>

                                  <span style="display: none" id="outlier_not_started{{ target.pk }}" class="badge badge-danger badge-pill status">Not Started</span>


                              </li>
                          {% empty %}
                              <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">No Target</li>
                          {% endfor %}
                      </ul>
                  </div>
               </div>
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Assigned Members</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <ul class="list-unstyled col-12 p-0 m-0 row">
                          {% for member in object.project_members.all %}
                              <li class="col-6 mt-2">
                                  <img src="{{ member.get_member_image_url }}" class="img-thumbnail w-75 img-fluid rounded" alt="Assigned Members" title="{{ member.member_name.get_full_name }}">
                                  <span>{{ member.member_name.get_full_name }}</span>
                              </li>
                          {% endfor %}
                     </ul>
                  </div>
               </div>
            </div>

            {% if is_department_leader %}
                <div class="col-sm-12 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Edit Project</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% csrf_token %}

                                <div class="form-group mb-3 col-12">
                                    <label for="project_name" class="pb-0">Project Title</label>
                                    <input type="text" class="form-control form-control-lg" id="project_name" value="{{ object.project_name }}" placeholder="Project Description" />
                                </div>

                                <div class="form-group mb-3 col-12">
                                    <label for="project_description">Project Description</label>
                                    <textarea class="form-control" id="project_description" placeholder="Project Description" rows="3">{{ object.project_description }}</textarea>
                                </div>

                                <div class="form-group mb-3 col-12">
                                    <label for="project_category">Category</label>
                                    <select id="project_category" class="form-control form-control-lg">
                                        {% for category in department_categories %}
                                            <option value="{{ category.category_name }}" {% if category.category_name == object.department_category.category_name %}selected{% endif %} >
                                                {{ category.category_name }}
                                            </option>
                                        {% empty %}
                                            <option disabled>No Category</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group mb-3 col-6">
                                    <label for="project_start_date" class="pb-0">Start Date</label>
                                    <input type="date" id="project_start_date" class="form-control form-control-lg" value="{{ object.start_date.isoformat }}" />
                                </div>

                                <div class="form-group mb-3 col-6">
                                    <label for="project_due_date" class="pb-0">Due Date</label>
                                    <input type="date" id="project_due_date" class="form-control form-control-lg" value="{{ object.due_date.isoformat }}" />
                                </div>

                                <div class="form-group mb-3 col-12">
                                    <label for="project_priority">Priority</label>
                                    <select id="project_priority" class="form-control form-control-lg">
                                        <option value="Low">Low</option>
                                        <option value="Medium">Medium</option>
                                        <option value="High">High</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3 col-6">
                                   <label for="project_background_color">Project Background Colour: </label>
                                   <input type="color" class="form-control" id="project_background_color" value="{% if object.project_background_color %}{{ object.project_background_color }}{% else %}#32BDEA{% endif %}">
                                </div>

                                <div class="form-group mb-3 col-6">
                                   <label for="project_text_color">Project Text Color: </label>
                                   <input type="color" class="form-control" id="project_text_color" value="{% if object.project_text_color %}{{ object.project_text_color }}{% else %}#FFFFF{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Edit Team</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group mb-3 col-12">
                                <label for="project_members">Team Members</label>
                                <select id="project_members" class="selectpicker form-control form-control-lg" data-style="py-0" multiple required>
                                    {% for member in department_members %}
                                        <option value="{{ member.id }}" {% if member in object.project_members.all %}selected{% endif %}>
                                            {{ member.member_name.get_full_name }}
                                        </option>
                                    {% empty %}
                                        <option disabled>No Member</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group mb-3 col-12">
                                <label for="project_leader">Project Leader</label>
                                <select id="project_leader" class="selectpicker form-control form-control-lg" data-style="py-0" required>
                                    <option value="" {% if not object.project_leader %}selected{% endif %}>None</option>
                                    {% for member in object.project_members.all %}
                                        <option value="{{ member.id }}" {% if member == object.project_leader %}selected{% endif %}>
                                            {{ member.member_name.get_full_name }}
                                        </option>
                                    {% empty %}
                                        <option disabled>No Member</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Edit Target</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            {% include 'custom_html/to_do.html' %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="col-12">
                                <button id="submit_button" type="button" class="btn btn-primary btn-lg" onclick="save_project()">SAVE PROJECT</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
         </div>
      </div>

{% endblock content %}

{% block modal %}

{#    CONFIRMATION COMPLETETION MODAL #}
    <div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="confirm_completion">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-block text-center pb-3 border-bottom">
                    <h3 class="modal-title">Confirm Completion</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 mb-3">
                            <p><i>
                                Are you sure Project target <span id="project_target_id" style="display: none"></span> is Complete? <br>Click continue to send notification
                                to Department leader for approval
                            </i></p>
                        </div>

                        <div class="col-12" style="display: none">
                            <span id="completion_detail"></span>
                        </div>

                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap align-items-center justify-content-center mt-2">
                                <button type="button" class="btn btn-outline-danger mr-3" data-dismiss="modal" onclick="send_approval_notification()">Continue</button>
                                <div class="btn btn-success" data-dismiss="modal">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock modal %}

{% block extra_js %}
    <script src="{% static 'custom/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'custom/to_do/to_do.js' %}"></script>
    <script src="{% static 'custom/custom.js' %}"></script>
    <script>

        let url = "{% url 'project_management:project-detail' category object.pk %}";

        const save_project = () => {
            __save_project(url);
        }

        const toggle_target = (element, pk) => {
            url = "{% url 'project_management:project-detail' category object.pk %}?";
            __toggle_target(element, url, pk);
        }

        const target_approved_by_leader = (element, target_id) => {
            url = `${url}?change_target_status&target_id=${target_id}&state=Completed`;
            _target_approved_by_leader(element, url, target_id);
        }

        const target_rejected_by_leader = (element, target_id) => {
            url = `${url}?change_target_status&target_id=${target_id}&state=Reject`;
            _target_rejected_by_leader(element, url, target_id);
        }

    </script>
{% endblock extra_js %}